{% extends "base.html" %}
{% block title %}Saved Searches{% endblock %}
{% block header %}Saved Searches{% endblock %}
{% block content %}
<script>
    $(document).ready(function() {
        $('#saved_searches').DataTable();
    });
</script>
<table id="saved_searches" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ss in saved_searches %}
        <tr>
            <td>{{ ss.name }}</td>
            <td><a href="{{ ss.url }}" target="_blank">URL</a></td>
            <td><a href="{{ url_for('.show_results', search_id=ss.id) }}">Show results</a>,
                <a href="{{ url_for('.delete_search', search_id=ss.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}