{% extends "base.html" %}
{% block title %}Chart{% endblock %}
{% block header %}Chart{% endblock %}
{% block content %}
<div id="container" style="width:100%; height:400px;"></div>
<script>
$(function () {

    $('#container').highcharts({
        chart: {
            type: 'column'
        },

        title: {
            text: 'References per year/month'
        },

        xAxis: {
            type: 'category'
        },

        legend: {
            enabled: false
        },

        series: [{
            name: 'Years',
            colorByPoint: true,

            data: [
            {% for y, c in months | dictsort() %}
            {
                name: '{{ y }}',
                y: {{ c.values() | sum() }},
                drilldown: '{{ y }}'
            },
            {% endfor %}
            ]
        }],

        drilldown: {
            series: [
            {% for y, c in months | dictsort() %}
            {
                id: '{{ y }}',
                data:
                [
                {% for m, v in c | dictsort() %}
                    ['{{ m }}', {{ v }}],
                {% endfor %}
                ]
            },
            {% endfor %}
            ]
        }
    });
});
</script>
{% endblock %}
